html {
    background-color: #A8322D;  /* Fallback color */
    cursor: crosshair;
}

/* Create a fixed background layer that doesn't move */
html::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/Background without border.png");
    background-size: cover;
    background-position: 65% 15%;
    background-repeat: no-repeat;
    z-index: -1;  /* Behind all content */
    pointer-events: none;  /* Allows clicking through */
}
/* Keep side-by-side images the same height */
center img {
    height: 340px;  /* Set consistent height */
    width: auto;    /* Width adjusts to maintain aspect ratio */
    max-width: 100%; /* Still responsive on small screens */
}

/* Make this specific image taller */
.shorter_image {
    height: 170px !important;  /* Or whatever height you want */
}

/* On mobile, reduce the height proportionally */
@media screen and (max-width: 768px) {
    center img {
        height: 200px;  /* Smaller height on mobile */
    }
}

/* Drinks container */
.drinks-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;  /* Align bottoms of images */
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

/* Individual drink item */
.drink-item {
    text-align: center;
    flex: 0 0 auto;
}

.drink-item img {
    height: 340px;
    width: auto;
    display: inline-block;  /* Changed from block to inline-block */
    margin: 0 5px;  /* Small spacing between images */
    vertical-align: bottom;  /* Align bottoms */
}

/* Beer image is shorter */
.drink-item.beer img {
    height: 170px;
}

.drink-item p {
    margin-top: 10px;
    font-size: 14px;
}

/* Mobile adjustments */
@media screen and (max-width: 768px) {
    .drink-item img {
        height: 200px;
    }
    
    .drink-item.beer img {
        height: 100px;
    }
}
body {
    width: 1000px;
    max-width: 100%;  /* Add this so it doesn't overflow on mobile */
    margin: 0 auto;
    padding: 0 60px 60px 60px;
    border: 5px white;
}
  body {
    width: 1000px;
    
    margin: 0 auto;

    padding: 0 60px 60px 60px;
    border: 5px white;
  }
  

  h1 {
    font-family: "Fleur De Leah", cursive;
    font-size: 100px;
    text-align: center;
    font-weight: 400;
    margin-top:0;
    margin-bottom:0;
    
  }

  h2 {
    font-family: "Fleur De Leah", cursive;
    font-size: 60px;
    text-align: center;
    font-weight: 400;
    margin-top:0;
    margin-bottom:0;
  }



  h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    margin-top:0;
    margin-bottom:0;


  }

  h4 {
    font-family: "Roboto Flex";
    font-size: 20px;
    text-align: left;
    font-weight: 800;
    margin-top:0;
    margin-bottom:0;

      }

 

  html {
    font-family: "Open Sans", sans-serif;

  }

  form { 
    margin: 0;
    background: rgb(255, 255, 255);
    padding: 20px 20px 20px 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 500px
    

  }

  input[type = text]{
    width: 500px;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type = email]{
    width: 500px;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type = submit]{
    width: 500px;
    height: 30px;
    margin: 20px 0px;
    box-sizing: border-box;
  }

  .collapsible {
  background-color: #eeeeee31;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: hsla(194, 100%, 77%, 0.339);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  background-color: #f1f1f156;
  transition: max-height 0.2s ease-out;
}