html {
    background-image: url("../images/Engagement_header.png");
    background-size: 100%;
    background-position: 65% 15%;
    background-color: #A8322D;
    background-attachment: fixed;
    cursor: crosshair;
  }

  body {
    width: 1000px;
    height: 3000px;
    margin: 0 auto;
    background-image: linear-gradient( rgba(255, 255, 255, 0.127), rgb(255, 255, 255));
    padding: 0 60px 60px 60px;
    border: 5px white;
  }
  

  h1 {
    font-family: "Fleur De Leah", cursive;
    font-size: 100px;
    text-align: center;
    font-weight: 400;
    margin-top:0;
    margin-bottom:0;
    
  }

  h2 {
    font-family: "Fleur De Leah", cursive;
    font-size: 60px;
    text-align: center;
    font-weight: 400;
    margin-top:0;
    margin-bottom:0;
  }



  h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    margin-top:0;
    margin-bottom:0;


  }

  h4 {
    font-family: "Roboto Flex";
    font-size: 20px;
    text-align: left;
    font-weight: 800;
    margin-top:0;
    margin-bottom:0;

      }

 

  html {
    font-family: "Open Sans", sans-serif;

  }

  form { 
    margin: 0;
    background: rgb(255, 255, 255);
    padding: 20px 20px 20px 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 500px
    

  }

  input[type = text]{
    width: 500px;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type = email]{
    width: 500px;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type = submit]{
    width: 500px;
    height: 30px;
    margin: 20px 0px;
    box-sizing: border-box;
  }

  .collapsible {
  background-color: #eeeeee31;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: hsla(194, 100%, 77%, 0.339);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  background-color: #f1f1f156;
  transition: max-height 0.2s ease-out;
}