html {
    background-image: url("../images/Engagement_header.png");
    background-size: cover;
    background-position: 0% 25%;
    background-color: #A8322D;
    background-attachment: fixed;
    cursor: crosshair;
  }